@model friends_circle.Models.AddFriendViewModel

@{
    ViewBag.Title = "Add Your Friends";
}


@using (Html.BeginForm(FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    <h2>@ViewBag.Title</h2>

    if (!String.IsNullOrEmpty(Model.message))
    {
        <div class="alert alert-danger">
            @Html.DisplayFor(model => model.message)
        </div>
    }
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.friend.name, htmlAttributes: new { @class = "control-label col-md-2", required = true })
            <div class="col-md-10">
                @Html.EditorFor(model => model.friend.name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.friend.name, "What's your friend's name?", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.friend.street, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.friend.street, new { htmlAttributes = new { @class = "form-control", required = true }})
                @Html.ValidationMessageFor(model => model.friend.street, "Where does your friend live?", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-success">Find Friend</button>
                @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}
<p>
    @Html.ActionLink("<--- Back to List", "Index")
</p>
