@using friends_circle.Models
@model FriendListViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Your Friends' Circle</h2>
<p class="lead">
    IP: @Request.UserHostAddress <br />
    Lat: @Model.lat <br />
    Lng: @Model.lng <br />
    Your Current Location: @Model.location
</p>
<p>
    <a href="@Url.Action("Add")" class="btn btn-success"><i class="fa fa-plus"></i> Create</a>
</p>
@using (Html.BeginForm("Index", "Friends", FormMethod.Get))
{
    <label>Show friends within distance (miles): </label>
    <div class="col-md-4 input-group">
        @Html.TextBox("DistanceSearch", null, new { @class = "form-control", placeholder = "Search" })
        <span class="input-group-btn">
            <button type="submit" class="btn btn-info"><i class="fa fa-search"></i></button>
        </span>
    </div>
}
<table class="table table-bordered table-hover table-striped">
    <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Distance</th>
    </tr>
    @* @TODO loop through and find users here *@
    @foreach (FriendWithDistanceViewModel friend in Model.friendList)
    {
        <tr>
            <td>@Html.DisplayFor(name => friend.name)</td>
            <td>@Html.DisplayFor(street => friend.full_address)</td>
            <td>@Html.DisplayFor(distance => friend.distance)</td>
        </tr>
    }

</table>
