@using friends_circle.Models
@model FriendListViewModel
@{
    ViewBag.Title = "Index";
}
@section scripts {
    <script src="/Scripts/GooglePlacesAPI.js"></script>
    <script src="@ViewBag.IntellisenseScript" async defer></script>
}

<div id="map"></div>
<h2><i class="fa fa-lg fa-group"></i> Your Friends' Circle</h2>
<div class="bs-callout bs-callout-info">
    <h4>Your Information</h4>
    IP: @Request.UserHostAddress <br />
    Latitude: @Model.lat <br />
    Longitude: @Model.lng <br />
    Current Location: @Model.location
</div>
<p>
    <a href="@Url.Action("Add")" class="btn btn-success"><i class="fa fa-plus"></i> New Friend</a>
</p>
@using (Html.BeginForm("Index", "Friends", FormMethod.Get))
{
    <div class="col-md-4">
        <div class="form-group">
            <label for="DistanceSearch" class="control-label">Show friends within distance: </label>
            <div class="input-group">
                @Html.TextBox("DistanceSearch", null, new { id = "DistanceSearch", @class = "form-control", placeholder = "Distance in Miles" })
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-info"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            @Html.RadioButton("FromWhere", "", true)
            <label>Using Current Location:</label><br />
        </div>

        <div class="form-group">
            @Html.RadioButton("FromWhere", "other", false)
            <label>Using Centre of: </label>
            @Html.TextBox("FromWhereCity", null, new { placeholder = "City" })
        </div>
    </div>
}
<table class="table table-bordered table-hover table-striped">
    <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Distance</th>
    </tr>
    @* @TODO loop through and find users here *@
    @foreach (FriendWithDistanceViewModel friend in Model.friendList)
    {
        <tr>
            <td>@Html.DisplayFor(name => friend.name)</td>
            <td>@Html.DisplayFor(street => friend.full_address)</td>
            <td>@Html.DisplayFor(distance => friend.distance)</td>
        </tr>
    }

</table>
